<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %>. This is a proof of concept disposable container.</p>
	<a href="https://justice.gov.bc.ca/embcess/">Production</a><br>
	<a href="https://justice.gov.bc.ca/essprep/">Training</a>
</body>

</html>