<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href='/stylesheets/bootstrap/min.css'>
	<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
	<div class="row">
		<div class="col">
			<h1><%= title %></h1>
			<p>Welcome to <%= title %>. This is a proof of concept disposable container.</p>
			<a href="https://justice.gov.bc.ca/embcess/">Production</a><br>
			<a href="https://justice.gov.bc.ca/essprep/">Training</a><br>
		</div>
	</div>
</body>

</html>